# Fichiers compilés
bin/
*.class

# Dossier de réception des fichiers
uploads/
received_*

# Clé partagée
shared_key.txt

# Fichiers IDE
.idea/
*.iml
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
