# Fichiers compilés
bin/
*.class

# Fichiers générés pendant l'exécution
received_*
*.log

# Fichiers IDE
.idea/
*.iml
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Secrets/clefs
shared_key.txt
